<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restricted Resources</web-resource-name>
            <url-pattern>/WEB-INF/*</url-pattern>
        </web-resource-collection>

    </security-constraint>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VnpayReturn</servlet-name>
        <servlet-class>com.vnpay.common.VnpayReturn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VnpayReturn</servlet-name>
        <url-pattern>/vnpayReturn</url-pattern>
    </servlet-mapping>


</web-app>


